@model Hintme.Models.Hint[]

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Gyvos istorijos - pasidalink savo istorija!</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/freelancer/freelancer.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Merriweather', serif;
        }

        h1, h4 {
            font-family: 'Merriweather', serif;
        }

        #map {
            height: 700px;
        }
        .infowindow_image {
            height: 300px;
        }
    </style>
</head>
<body style="background: #F9F6E4">
<div class="container">
    

    <a href="https://www.facebook.com/istorijosgyvos/"><img src="~/icon.png" class="center-block" height="320px" /></a>
    <h1 class="text-center">Gyvos Istorijos</h1>
    <h2 class="text-center">Tavo istorijos</h2>
    <br/>
    <h5 class="text-center">Čia tavo puslapis, kur gali visuomet išsaugoti ir rasti savo istorijas</h5>
    <br />
    <a href="~/"><div class="row btn btn-success col-md-offset-4 col-md-4">Pridėti daugiau istorijų</div></a>
    <br />
    <br />
    <br />
    <br />
    <div id="map"></div>
    <br/>
    <br />
    <br />
    <br />
    <br />
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/freelancer/js/freelancer.min.js"></script>
    <script>
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"),
               {
                   center: { lat: 54.6872, lng: 25.2797 },
                   zoom: 13,
                   clickableIcons: false
               });

            var infoWindows = [];

            @for (int i = 0; i < Model.Count(); i++)
            {
                var url = string.IsNullOrEmpty(Model[i].Url) ? "": "<img src=\"" + Model[i].Url + "\" class=\"infowindow_image\"/>";

                @Html.Raw($"infoWindows.push(new google.maps.InfoWindow({{content: '<p>{Model[i].Text.Replace("\r\n", "<br />").Replace("\n", "<br />")}</p>{url}'}}));")

                var title = Model[i].Text.Length >= 15 ? Model[i].Text.Substring(0, 15) + "..." : Model[i].Text;

                @Html.Raw($"var marker{i} = new google.maps.Marker({{position: {{ lat: {Model[i].Latitude.ToString().Replace(',','.')}, lng: {Model[i].Longitude.ToString().Replace(',', '.')} }},map: map,title: '{title}'}});")
                @Html.Raw($"marker{i}.addListener('click', function() {{for (i = 0; i < infoWindows.length; i++) {{infoWindows[i].close();}}; infoWindows[{i}].open(map, marker{i});}});")
                @Html.Raw($"marker{i}.setMap(map);")
            }
        }
    </script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBP22gn4dkeGZCejxMGXBdMHMopGSX_pA8&callback=initMap&libraries=places"></script>
</body>
</html>